* main {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b3e5fc;
}

#container {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 6px 8px;
  margin: 5px;
  background-color: #03a9f4;
}

.title {
  display: flex;
  justify-content: center;
  border: 1px solid lightblue;
  background-color: #0288d1;
  font-family: "Roboto Mono", monospace;
}

.productimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
}

.soldoutimg {
  width: 13%;
  position: absolute;
  top: 0;
  left: 0;
}


.pricing {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-weight: bold;
}

.specs p {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-weight: bold;
}

.description {
  text-align: justify;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.availability {
  color: yellow;
  background-color: grey;
  font-family: "Roboto Mono", monospace;
}
@media screen and (max-width: 768px) {
  .card {
    width: 40%;
  }
  .soldoutimg {
    width: 20%;
  }
}

@media screen and (max-width: 425px) {
  .card {
    width: 100%;
  }
  .soldoutimg {
    width: 40%;
  }
}
